.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn-min {
  min-height: 37px !important;
  min-width: 48px !important;
}

.footer {
  bottom: auto;
}

.team-bold {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.content-wrapper {
  padding-top: 0 !important;
}

